/* BASICS */

* {
    box-sizing: border-box;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#EEFCFC ;
}

body {
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .833em;
    font-weight: 800;
    line-height: 1.4;
}
input{
    background-color: #E6F4F1;
}
table{
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 1px;
    width: 230px;
}


/* LAYOUT */

.main-container {
    flex-direction: column;
    margin: auto;
}

.map-content {
    float: right;
}

.user-content {
    float: left;

}

/* COMPONENTS */

.btn {
    cursor: pointer;
    background-color: #E6F4F1;
    color:#324B4B ;
    border-radius: 5px;
    border: 2px outset #00808085;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
}

.btn:hover{
    background-color: #324B4B;
    color: #E6F4F1;
}
.main-header {
    background-color: #008080;
}

.main-nav {
    width: 1300px;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-bar>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    margin: auto;
}
form >*{
    height: 42px;
}

.my-location {
    padding:2px;
    height: 60%;
    width: 90px;
    border-radius: 4px;
    margin-left: 20px;
}
.main-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-content {
    width: 100%;
}
.map-content button{
    height: 40px;
    width: 100px;
}

.user-content {
    width: 50%;
}

.location {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    background-color: #BFFCFB;
}
.locations-table tr:nth-child(even) {
    background-color: #BFFCFB;
}

.locations-table{
    margin: auto;
    width: 750px;

}
.locations-table thead td {
    width: 160px;
    border: #95B1B0 solid 1px;
    background-color: #52B5B5;
    height: 50px;
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.locations-table tbody td {
    border: #95B1B0 solid 1px;
    padding: 5px;
}
.locations-table button{
    margin: auto 0;

}


/* HELPERS */

.max-width {
    max-width: 1200px;
}

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

