/* BASICS */

* {
    box-sizing: border-box;
}


html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

body>* {
    outline: cornflowerblue 2px solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 .833em;
    font-weight: 800;
    line-height: 1.4;
}


/* LAYOUT */

header {
    border: 3px solid black;
}

.main-container {
    flex-direction: column;
    margin: auto;
}

.map-content {
    float: right;
}

.user-content {
    float: left;

}

/* COMPONENTS */
.main-header {
    background-color: teal;
}

.main-nav {
    width: 1200px;
    justify-content: space-between;
    padding: 0 10px;
}

.nav-bar>* {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60%;
    margin: auto;
}

.my-locations {
    height: 60%;
    width: 90px;
    border-radius: 4px;
    margin-left: 20px;
}

.map-content {
    width: 45%;

}

.user-content {
    width: 50%;
}

.location {
    height: 100px;
    border: 2px solid black;
}

.weather {
    height: 50%;
    border: springgreen solid 2px;
}

.locations-table tr:nth-child(odd) {
    background-color: rgba(50, 137, 192, 0.548);
}

.locations-table thead td {
    background-color: lightslategrey;
    width: 100px;
    height: 50px;
    border: black solid 2px;
    text-align: center;
    padding: 5px;
}

.locations-table tbody td {
    border: black solid 1px;
    padding: 5px;
    /* background-color: lightcoral; */

}





/* HELPERS */

.max-width {
    max-width: 1200px;
}

.flex {
    display: flex;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.btn {
    background-color: lightblue;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    border: none;
}